
01. ORM Fundamentals - Exercise/MiniORM/.vs/MiniORM/FileContentIndex/0facc7be-d577-4580-927b-e2d1562ff5c4.vsidx
01. ORM Fundamentals - Exercise/MiniORM/.vs/MiniORM/FileContentIndex/92719200-2eb1-444f-be9c-7d2468113dbe.vsidx
